# APP
APP_NAME=erp
APP_ENV=development
APP_PORT=8080

# DATABASE
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=changeme
DB_NAME=erp
DB_SSLMODE=disable
DB_AUTO_MIGRATE=true

# JWT
JWT_SECRET=replace-this-secret
JWT_EXPIRATION=24h
